.status {
    padding: 20px;
    min-width: 150px;
    margin: 10px;
    background: beige;
    font-size: 25px;
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

.status--Available {
    background: green;
}

.status--Busy {
    background: red;
}